body {
  font-size: 14px;
  font-weight: normal;
  font-family: "Times New Roman", Georgia, Serif;
}

.twitter-content{
  margin-left: 50px;
  margin-right: 50px;
}

.twitter-nav-container{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: lightblue;
}

.twitter-nav-container ul {
  padding: 0px;
}

.twitter-nav-container li:hover {
  background: grey;
  cursor: pointer;
}

.twitter-nav-container-left{
  width:35%;
}

.twitter-nav-container-right{
  width:35%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  
}

.twitter-nav-container-right i:hover{
  cursor: pointer;
}

.twitter-nav-bird {
  display: flex;
  justify-content: center;
  float: left;
  width: 30%;
  font-size: 25px;
}

.twitter-nav-wrapper, .twitter-nav-search-container {
  float: left;
  display: inline-block;
  width: 40%;
}

.twitter-nav-options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
}

.twitter-nav-container-right-textbox{
  width: 60%;
}
.twitter-nav-container-right-textbox-input{
  width: 100%;
}

.twitter-main {
  display: flex;
  justify content: felxt-start;
}

a:link {
  text-decoration: none;
}


